In [13]:
#Objective
#Write a Pandas program to create and display a DataFrame from the following dictionary data with index labels.
#exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
#'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
#'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
#'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
#labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
#Instructions
#1. Print the three first rows using the head() method.
#2. Delete rows with Nan values.
#3. Extract the 'name' and 'score' columns from the DataFrame.
#4. Write a Pandas program to append a new row 'k' to the DataFrame with these values (name: "Suresh", score: 15.5, attempts: 1, qualify: "yes").
#5. Write a Pandas program to delete the 'attempts' column from the DataFrame.
#6. Add a new column "Success": if the score is higher than 10 we will have 1, else we will have 0.
#7. After executing the final DataFrame, export it into a CSV file named "my_data".

import numpy as np
import pandas as pd
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df=pd.DataFrame(exam_data)

#1. Print the three first rows using the head() method

df=df.head(3) 
print(df)

#2. Delete rows with Nan values.

df=pd.DataFrame(exam_data)
df.dropna(axis=0,inplace=True)
print(df)

#3. Extract the 'name' and 'score' columns from the DataFrame.

new_df=df[['name','score']]
new_df

#4. Write a Pandas program to append a new row 'k' to the DataFrame with these values (name: "Suresh", score: 15.5, attempts: 1, qualify: "yes").

exam_dataplus={'name': ['Suresh'], 'score': [15.5], 'attempts': [1], 'qualify': ['yes']}
dfplus=pd.DataFrame(exam_dataplus)
df=pd.concat([df,dfplus])
print(df)

#5. Write a Pandas program to delete the 'attempts' column from the DataFrame.

df.drop("attempts", axis=1,inplace=True)
print(df)

#6. Add a new column "Success": if the score is higher than 10 we will have 1, else we will have 0.

df["success"] = df["score"].apply(lambda x:1 if x>10 else 0)
df

#7. After executing the final DataFrame, export it into a CSV file named "my_data".
df.to_csv (r'C:\Users\amour\OneDrive\Bureau\my_data.csv', index = False, header=True)

print (df)

        name  score  attempts qualify
0  Anastasia   12.5         1     yes
1       Dima    9.0         3      no
2  Katherine   16.5         2     yes
        name  score  attempts qualify
0  Anastasia   12.5         1     yes
1       Dima    9.0         3      no
2  Katherine   16.5         2     yes
4      Emily    9.0         2      no
5    Michael   20.0         3     yes
6    Matthew   14.5         1     yes
8      Kevin    8.0         2      no
9      Jonas   19.0         1     yes
        name  score  attempts qualify
0  Anastasia   12.5         1     yes
1       Dima    9.0         3      no
2  Katherine   16.5         2     yes
4      Emily    9.0         2      no
5    Michael   20.0         3     yes
6    Matthew   14.5         1     yes
8      Kevin    8.0         2      no
9      Jonas   19.0         1     yes
0     Suresh   15.5         1     yes
        name  score qualify
0  Anastasia   12.5     yes
1       Dima    9.0      no
2  Katherine   16.5     yes
4      Emily    9.0      no
5    Michael   20.0     yes
6    Matthew   14.5     yes
8      Kevin    8.0      no
9      Jonas   19.0     yes
0     Suresh   15.5     yes
        name  score qualify  success
0  Anastasia   12.5     yes        1
1       Dima    9.0      no        0
2  Katherine   16.5     yes        1
4      Emily    9.0      no        0
5    Michael   20.0     yes        1
6    Matthew   14.5     yes        1
8      Kevin    8.0      no        0
9      Jonas   19.0     yes        1
0     Suresh   15.5     yes        1